<mat-form-field class="w-100" appearance="outline">
  <mat-label
    >Plan
    <!-- <span class="error-hint" *ngIf="!plan || !plan.id"
      >(Campo requerido *)</span
    > -->
  </mat-label>
  <input
    type="text"
    matInput
    id="selectplan"
    placeholder="buscar"
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="submitEvent($event.option.value)"
  >
    @for (item of listatabla(); track item) {
    <mat-option [value]="item" (click)="submitEvent(item)">
      {{ item.nombre }} / {{item.duracionMeses == 1 ? '1 Mes' : `${item.duracionMeses} Meses`}}</mat-option>
    }
  </mat-autocomplete>

  @if(!validacion()){
  <mat-hint style="color: red">Plan no encontrado</mat-hint>
  }
</mat-form-field>
