<section class="p-3">
  <aside class="d-flex align-items-center ">
    <span class="me-2 fs-2 fw-bold">Lista de Pases </span>
    <!-- <img src="Icons/excavador.png" alt="icono"> -->
  </aside>

  <div class="d-flex justify-content-between">
    <div class="d-flex gap-3"></div>

    <div class="ms-3 mb-3">
      <button
        type="button"
        mat-fab
        extended
        (click)="clickAdd()"
        class="bg-primary text-white"
        matTooltip="Registrar nueva inscripcion"
      >
        <mat-icon>add</mat-icon>
      Registrar Pase
      </button>
    </div>
  </div>

<mat-divider></mat-divider>
<div class="row mb-0 mt-3">
  <!-- <div class="col-2">
    <mat-form-field class="w-100 small-input" appearance="outline">
      <mat-label
        >Codigo
        <mat-icon
          matTooltipPosition="above"
          class="mt-0"
        >
          help_outline
        </mat-icon></mat-label
      >
      <input matInput [(ngModel)]="numero" (keyup)="recarga()" />
    </mat-form-field>
  </div> -->

  <!-- <div class="col-md-3">
    <mat-form-field class="w-100 small-input" appearance="outline">
      <mat-label
        >Cliente
        <mat-icon
          matTooltipPosition="above"
          class="mt-0"
        >
          help_outline
        </mat-icon></mat-label
      >
      <input matInput [(ngModel)]="clientebusqueda" (keyup)="recarga()" />
    </mat-form-field>
  </div> -->


  <!-- <div class="col-md-2">
    <button mat-fab extended style="background-color: #8d5e17; color: white;"
    (click)="ImpresionMasiva()">
      <mat-icon><span class="material-symbols-outlined">
        export_notes
        </span></mat-icon>
        Impresión Masiva
    </button>
  </div> -->

</div>

<section class="d-flex gap-3">
    <!-- <div>
      <button mat-fab extended color="primary" (click)="Limpiarfiltro()">
        <i class="bi bi-trash fs-6"></i>
        Limpiar Filtros
      </button>
    </div> -->

    <!-- <div>
      <button mat-fab extended class="w-100" >
        <mat-icon>search</mat-icon>
        Buscar
      </button>
    </div> -->

    <!-- <div>
      <button
        mat-fab
        extended
        style="background-color: #1d6f42; color: white"
        (click)="exportarExcel()"
      >
        <div class="d-flex align-items-center">
          <i class="bi bi-file-earmark-spreadsheet fs-5 me-1"></i>
          <span>Exportar Excel</span>
        </div>
      </button>
    </div> -->

    <div>
      <!-- <button
        mat-fab
        extended
        style="background-color: #b61a1a; color: white"
        (click)="exportarPDF()"
      >
        <div class="d-flex align-items-center">
          <i class="bi bi-file-pdf-fill fs-5 me-1"></i>
          <span>Exportar PDF</span>
        </div>
      </button> -->
    </div>
  </section>

  <div class="table-responsive">

    @if(isLoading()){
      <app-loader></app-loader>
    } @else {

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="numero">
        <th mat-header-cell *matHeaderCellDef>Codigo</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="cliente">
        <th mat-header-cell *matHeaderCellDef>Cliente</th>
        <td mat-cell *matCellDef="let element">{{ element.cliente }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="cantidadCompradas">
        <th mat-header-cell *matHeaderCellDef>Cantidad Compradas</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidadComprada }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="cantidadRestante">
        <th mat-header-cell *matHeaderCellDef>Cantidad Restante</th>
        <td mat-cell *matCellDef="let element">{{ element.cantidadRestante }}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef class="text-end">Total</th>
        <td mat-cell *matCellDef="let element" class="text-end">
          {{ element.total | currency : "S/ " : "symbol" : "1.2-2" }}
        </td>
        <td mat-footer-cell *matFooterCellDef class="text-end fw-bold">
          <!-- {{ total() | currency : "S/ " : "symbol" : "1.2-2" }} -->
        </td>
      </ng-container>

      <!-- <ng-container matColumnDef="totalpagado">
        <th mat-header-cell *matHeaderCellDef class="text-end">Total Pagado</th>
        <td mat-cell *matCellDef="let element" class="text-end">
          {{ element.totalPagado | currency : "S/ " : "symbol" : "1.2-2" }}
        </td>
       <td mat-footer-cell *matFooterCellDef class="text-end fw-bold">
          {{ totalPagado() | currency : "S/ " : "symbol" : "1.2-2" }}
        </td>
      </ng-container> -->


      <!-- <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
        @if(element.estado == 'VIGENTE'){
          <span class="badge bg-success py-2">{{ element.estado }}</span>
        } @else {
          <span class="badge bg-danger py-2">{{ element.estado}}</span>
        }
            </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container> -->

      <!-- <ng-container matColumnDef="creadoPor">
        <th mat-header-cell *matHeaderCellDef>Creado Por</th>
        <td mat-cell *matCellDef="let element">{{ element.creadoPor }}</td>
      </ng-container> -->

      <ng-container matColumnDef="fechaRegistro">
        <th mat-header-cell *matHeaderCellDef>Fecha Registro</th>
        <td mat-cell *matCellDef="let element">
          {{ element.fecha | date : "dd/MM/yyyy" }}
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab matTooltip="Ver detalles" (click)="clickViewDetalles(element)" class="me-1"
            style="color: white; background-color: #3f51b5"
            >
            <mat-icon>visibility</mat-icon>
          </button>

          <button
            mat-mini-fab
            matTooltip="Ver QR"
            (click)="clickViewQR(element)"
            [disabled]="element.pagado"
            class="me-1"
            style="color: white; background-color: #287907"
          >
            <mat-icon>qr_code</mat-icon>
          </button>

          <!-- <button
            mat-mini-fab
            matTooltip="Pagos Realizados"
            style="color: white; background-color: #499e03"
            class="me-1"
          >
            <mat-icon>edit</mat-icon>
          </button> -->
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[10, 20, 30, 50]"
      showFirstLastButtons
      (page)="setTotal()"
    >
    </mat-paginator>

    }
  </div>
</section>
