<mat-form-field class="w-100" appearance="outline">
  <mat-label
    >Cliente
    <!-- <span class="error-hint" *ngIf="!cliente || !cliente.id"
      >(Campo requerido *)</span
    > -->
  </mat-label>
  <input
    type="text"
    matInput
    id="selectcliente"
    placeholder="buscar"
    [formControl]="myControl"
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    autoActiveFirstOption
    #auto="matAutocomplete"
    [displayWith]="displayFn"
    (optionSelected)="submitEvent($event.option.value)"
  >
    @for (item of listatabla(); track item) {
    <mat-option [value]="item" (click)="submitEvent(item)">
      {{ item.nombre + ' ' + item.apellidos }} - {{item.numeroDocumento}}</mat-option>
    }
  </mat-autocomplete>

  @if(!validacion()){
  <mat-hint style="color: red">Cliente no encontrado</mat-hint>
  }
</mat-form-field>
