<h1 mat-dialog-title>Agregar</h1>
<form [formGroup]="formulario" (ngSubmit)="clicEnviar()">
  <div mat-dialog-content>
    <div class="row">

      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="descripcion" />
        <mat-error *ngIf="formulario.get('descripcion')?.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Codigo</mat-label>
        <input matInput type="text" formControlName="codigo" />
        <mat-error *ngIf="formulario.get('codigo')?.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>

    </div>
  </div>

  <mat-dialog-actions class="position-relative">
    <div class="position-absolute top-50 end-0 translate-middle-y me-3">
      <button mat-flat-button mat-dialog-close>
        Cancelar
      </button>
      <button mat-flat-button [disabled]="!formulario.valid" type="submit">
        Guardar
      </button>
    </div>
  </mat-dialog-actions>
</form>
