
@font-face {
  /* font-family: 'Roboto'; */
  /* src: url('/fonts/Roboto-Regular.ttf') format('truetype'); */
  /* font-weight: 400; */
  /* font-style: normal; */

  font-family: 'Material Icons';

    src: url('/icons/MaterialIcons-Regular.ttf') format('truetype');
}




.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;

  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


body {
    /* font-family: "roboto"; */

  font-weight: normal;
  font-style: normal;
  overflow-x: hidden;
  background: #f1f5f9;
}

* {
    font-family: "roboto" ;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  /* font-weight: 400 !important; */
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cursor-pointer{
  cursor: pointer;
}

a:focus,
input:focus,



a:hover {
  color: #4a6cf7;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}


a,
a:focus,
a:hover {
  text-decoration: none !important;
  cursor: pointer;
}

i,
span,
a {
  display: inline-block;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

@media (max-width: 767px) {
  .container {
    padding: 0 30px;
  }
}

.text-transparent{
  opacity: 0;
}

.rounded-3{
  border-radius: 1rem !important;
}

.bg-green{
  background-color: green;
}

.vertical-line {
  border-right: 1px solid #696363;
  margin: 0 10px;
  height: 100%;
}

/* ¡Felicidades! Has encontrado el escondite de [Charsuix] 🐰🥚 */

.bg-red-800{
  background-color: rgba(255, 37, 37, 0.800);
}

.bg-green-800{
  background-color: rgba(75, 165, 1, 0.8);
}

.btn-danger{
  background-color: rgba(255, 67, 67, 0.863)!important;
  border-color: rgba(255, 67, 67, 0.863)!important;
}

.sub-header-title{
  color: #2c3e50 !important;
  /* color: #333 !important; */
  font-weight: 500 !important;
}

html, body { height: 100%; }
/* body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; } */

