<h1 mat-dialog-title class="fw-bold">Agregar Plan</h1>
<form [formGroup]="formulario" (ngSubmit)="clicEnviar()">
  <div mat-dialog-content>
    <div class="row">
      <mat-form-field class="col-6">
        <mat-label>Nombre</mat-label>
        <input matInput type="text" formControlName="nombre" />
        <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Precio</mat-label>
        <input matInput type="text" formControlName="precio" />
        <mat-error *ngIf="formulario.get('precio')?.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-6">
        <mat-label>Duración (Meses)</mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="12"
          formControlName="duracionMeses"
          (input)="setTipoPlan()"
        />
        <mat-error *ngIf="formulario.get('duracionMeses')?.hasError('required')">
          Este campo es requerido
        </mat-error>
        <mat-error *ngIf="formulario.get('duracionMeses')?.hasError('max')">
          El máximo es 12 meses
        </mat-error>
        <mat-error *ngIf="formulario.get('duracionMeses')?.hasError('min')">
          El mínimo es 1 mes
        </mat-error>
      </mat-form-field>


      <mat-form-field class="col-6">
        <mat-label>Tipo</mat-label>
        <input matInput type="text" formControlName="tipo" />
        <mat-error *ngIf="formulario.get('tipo')?.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>



      <!-- <div class="col-6 d-flex align-items-center">
        <mat-label>¿Activo?</mat-label>
        <mat-slide-toggle formControlName="activo"></mat-slide-toggle>
      </div> -->

    </div>
  </div>

  <mat-dialog-actions class="position-relative">
    <div class="position-absolute top-50 end-0 translate-middle-y me-3">
      <button mat-flat-button mat-dialog-close style="background: #6c757d;">Cerrar</button>
      <button mat-flat-button [disabled]="!formulario.valid" type="submit">
        Guardar
      </button>
    </div>
  </mat-dialog-actions>
</form>
